build/
*.pbxuser
*.mode1v3
*.perspectivev3
.DS_Store
.LSOverride
.idea/
XNGAPIClientExample/.DS_Store

# Test
Tests/Pods/
Tests/Podfile.lock

# Doxygen Documentation
Output/
temp/

# Xcode
xcuserdata/
*.xccheckout